/* FORM TYPOGRAPHY*/
  
input[type=button], input[type=submit], input[type=reset]  {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #39ace7;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  input[type=text] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=text]:placeholder {
    color: #cccccc;
  }

  

  hr {
        margin-top: 2rem;
        margin-bottom: 2rem;
        border: 0;
        border-top: .0625rem solid rgba(0,0,0,.1);
    }

  input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=password]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=password]:placeholder {
    color: #cccccc;
  }
  
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
  
  #formContent {
    margin: auto;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
  
  #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }
  

.contentBotArea{
    float: left;
    width: 100%;
}

.titlePage{
    margin-top:15px;
    background-color: #1E1E1E;
    color: white;
    padding:15px 0px 15px 15px;
    font-size: 1.2em;
    margin-left: 15px;
    margin-right: 15px;
}
.titleContentBot{
    background: #D10000;
    color: white;
    padding: 10px;
    margin-top:10px;
    float: left;
    width: 100%;
}
.titleLeft{
    float: left;
    color: white;
    font-size: 1.6em;

}
.viewmore{
    float: right;
    margin-top:6px;
    color:#E8CF01;
}
.dataContentBot{
    /* min-height: 500px; */
    float: left;
    width: 100%;
}

.bootCols{
    height:100px;
    margin:0;
    box-sizing:border-box;
    padding:5px;
    border:2px solid black;
    background-color:red;
  }
  .row{
      margin-left:0px;
      margin-right: 0px;
  }
  .newsArea{
      height: auto;
      margin-top: 10px;
      /* border: 2px solid red; */
      padding: 0px;
      min-height: 300px;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-left:5px;
      padding-right:5px;
  }
  
  .cardNews{
    height: 100%;
    border: 2px solid #D2AE70;
  }
  .image-news{
      height: calc( 100% - 70px );
      background-size: cover;
      background-position: center;
  }
  .text-news{
      padding:10px;
      border-top:1px solid #D2AE70;
      color:white;
      min-height: 50px;
      
  }

    .pagination{
        margin-top:15px;
        color: white !important;
    }
    .ngx-pagination a, .ngx-pagination button {
        color: white !important;
    }
    .ngx-pagination a, .ngx-pagination button {
        color: white !important;
    }

    .promotion img{
        width: 100%;
    }
    .promotion_div{
        position: relative;
    }

    .detail_Left{
        width: 100%;
        float: left;
        text-align: center;
    }
    
    .detail_Right{
        width: 100%;
        float: left;
    }
    .control-group{
        color: white;
        padding:15px;
    }
@media screen and (min-width: 1024px) {
    .promotion img{
        width: unset;
        margin-left: calc( 50% - 320px );
    }
}
@media screen and (min-width: 1200px) {
    .promotion img{
        margin-left: calc( 50% - 320px );
    }
}