.active-menu {
    /* background-color: #ddd; */
    text-decoration: underline;
    color: white !important;
}

.link_nav {
    float: left;
    /* border-left: 1px solid white; */
    height: 40px;
}

.link_nav:first-child {
    border-left: 0px solid #373737;
}

.link_nav:nth-last-child(2) {
    border-right: 0px solid #373737;
}

.topnav {
    /* padding: 10px 10px; */
    /* background-image: url(/assets/images/menu/menu.jpg); */
    background-size: 100% 75px;
    padding-left: 250px;
    padding-right: 250px;
    overflow: hidden;
    color: white;
    display: none;
    /* background-color:#FF8A00; */
}

.topnav .container {
    overflow: unset;
}

.topnav_mobile {
    float: left;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.btn_mobile {
    margin-right: 5px;
    margin-top: 5px;
    width: 110px !important;
    background-color: #FEC965;
    color: white;
    font-size: 14px;
    border-bottom: 3px solid #ccc;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffaa2b+0,ffa927+29,ffa927+29,ffa927+37,ffa927+44,ffd181+100 */
    background: rgba(171, 0, 0, 1);
    background: -moz-linear-gradient(left, rgba(171, 0, 0, 1) 0%, rgba(241, 111, 92, 1) 45%, rgba(241, 111, 92, 1) 57%, rgba(171, 0, 0, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(171, 0, 0, 1)), color-stop(45%, rgba(241, 111, 92, 1)), color-stop(57%, rgba(241, 111, 92, 1)), color-stop(100%, rgba(171, 0, 0, 1)));
    background: -webkit-linear-gradient(left, rgba(171, 0, 0, 1) 0%, rgba(241, 111, 92, 1) 45%, rgba(241, 111, 92, 1) 57%, rgba(171, 0, 0, 1) 100%);
    background: -o-linear-gradient(left, rgba(171, 0, 0, 1) 0%, rgba(241, 111, 92, 1) 45%, rgba(241, 111, 92, 1) 57%, rgba(171, 0, 0, 1) 100%);
    background: -ms-linear-gradient(left, rgba(171, 0, 0, 1) 0%, rgba(241, 111, 92, 1) 45%, rgba(241, 111, 92, 1) 57%, rgba(171, 0, 0, 1) 100%);
    background: linear-gradient(to right, rgba(171, 0, 0, 1) 0%, rgba(241, 111, 92, 1) 45%, rgba(241, 111, 92, 1) 57%, rgba(171, 0, 0, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ab0000', endColorstr='#ab0000', GradientType=1);
}

@media screen and (min-width: 1000px) {
    .topnav {
        display: block;
    }
    .topnav_mobile {
        display: none;
    }
    .topnav .container {
        /* width: 960px; */
        /* padding-right: 364px; */
    }
}

@media screen and (min-width: 1024px) {
    .topnav {
        /* max-width: 780px; */
        /* float: right; */
    }
}

@media screen and (min-width: 1100px) {
    .topnav .container {
        /* width: 960px; */
        /* padding-right: 364px; */
    }
}

@media screen and (min-width: 1101px) {
    .topnav {
        /* padding-left:30px;
    padding-right: 30px; */
    }
    /* .width_0{
    width: 85px !important;
  }
  .width_2{
    width: 130px !important;
  }
  .width_3{
    width: 120px !important;
  }
  .width_4{
    width: 130px !important;
  } */
    .width_5 {}
    /* .width_6{
    width: 90px !important;
  } */
}

@media screen and (min-width: 1200px) {
    .topnav {
        /* padding-left:100px;
    padding-right: 100px; */
    }
    /* .width_0{
    width: 90px !important;
  }
  .width_2{
    width: 140px !important;
  }
  .width_3{
    width: 102px !important;
  }
  .width_4{
    width: 131px !important;
  } */
    .width_5 {}
    /* .width_6{
    width: 90px !important;
  } */
    .topnav .container {
        /* width: 1140px; */
        /* padding-right: 364px; */
    }
}

@media screen and (min-width: 1354px) {
    /* .width_0{
    width: 90px !important;
  }
  .width_2{
    width: 140px !important;
  }
  .width_3{
    width: 130px !important;
  }
  .width_4{
    width: 131px !important;
  } */
    .width_5 {}
    /* .width_6{
    width: 155px !important;
  } */
}

@media screen and (min-width: 1400px) {
    .topnav {
        /* padding-left:200px;
    padding-right: 200px; */
    }
    /* .width_0{
    width: 90px !important;
  }
  .width_2{
    width: 127px  !important;
  }
  .width_3{
    width: 120px !important;
  }
  .width_4{
    width: 121px !important;
  } */
    .width_5 {}
    /* .width_6{
    width: 90px  !important;
  } */
}

@media screen and (min-width: 1500px) {
    .topnav {
        /* padding-left:200px;
    padding-right: 200px; */
    }
    .topnav .container {
        width: 100%;
        /* padding-right: 364px; */
    }
}

@media screen and (min-width: 1600px) {
    .topnav {
        /* padding-left:200px;
    padding-right: 200px; */
    }
    .topnav .container {
        width: 100%;
        /* padding-right: 364px; */
    }
}

@media screen and (min-width: 1700px) {
    .topnav {
        /* padding-left:300px;
    padding-right: 300px; */
    }
}

@media screen and (min-width: 1900px) {
    .topnav {
        max-width: 100%;
        float: right;
    }
    /* .width_0{
    width: 96px  !important;
  }
  .width_2{
    width: 139px  !important;
  }
  .width_3{
    width: 120px !important;
  }
  .width_4{
    width: 121px !important;
  } */
    .width_5 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .topnav .container {
        width: 100%;
        /* padding-right: 364px; */
    }
    /* .width_6{
    width: 180px  !important;
  } */
}