.btn_profile {
    margin-right: 10px;
    padding-left: 20px;
    color: white;
    float: left;
    padding-right: 20px;
    background-color: #270003;
    line-height: 2;
    border-radius: 2px;
}

.login_btn_inH {
    display: none;
}

.member_area {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    float: left;
    width: 100%;
}

.login_btn_inH {
    float: right;
    padding-right: 50px;
    padding-top: 50px;
}

.input_text_login {
    float: left;
    width: 180px;
    margin-right: 20px;
    padding-left: 10px;
}

.login_inH {
    padding: 0px 40px 1px 40px;
    font-weight: 100;
    font-size: 1.2em;
    border-radius: 0px;
    line-height: 1.5;
    background: rgba(255, 196, 0, 1);
    background: -moz-linear-gradient(top, rgba(255, 196, 0, 1) 0%, rgba(255, 168, 0, 1) 19%, rgba(255, 168, 0, 1) 83%, rgba(255, 196, 0, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 196, 0, 1)), color-stop(19%, rgba(255, 168, 0, 1)), color-stop(83%, rgba(255, 168, 0, 1)), color-stop(100%, rgba(255, 196, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 196, 0, 1) 0%, rgba(255, 168, 0, 1) 19%, rgba(255, 168, 0, 1) 83%, rgba(255, 196, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 196, 0, 1) 0%, rgba(255, 168, 0, 1) 19%, rgba(255, 168, 0, 1) 83%, rgba(255, 196, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 196, 0, 1) 0%, rgba(255, 168, 0, 1) 19%, rgba(255, 168, 0, 1) 83%, rgba(255, 196, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 196, 0, 1) 0%, rgba(255, 168, 0, 1) 19%, rgba(255, 168, 0, 1) 83%, rgba(255, 196, 0, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffc400', endColorstr='#ffc400', GradientType=0);
    border: 1px solid rgba(255, 196, 0, 1);
}

.login_inH:hover {
    background: rgba(255, 196, 0, 1);
    background: -moz-linear-gradient(top, rgba(255, 196, 0, 1) 0%, rgba(255, 168, 0, 1) 44%, rgba(255, 168, 0, 1) 59%, rgba(255, 196, 0, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 196, 0, 1)), color-stop(44%, rgba(255, 168, 0, 1)), color-stop(59%, rgba(255, 168, 0, 1)), color-stop(100%, rgba(255, 196, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 196, 0, 1) 0%, rgba(255, 168, 0, 1) 44%, rgba(255, 168, 0, 1) 59%, rgba(255, 196, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 196, 0, 1) 0%, rgba(255, 168, 0, 1) 44%, rgba(255, 168, 0, 1) 59%, rgba(255, 196, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 196, 0, 1) 0%, rgba(255, 168, 0, 1) 44%, rgba(255, 168, 0, 1) 59%, rgba(255, 196, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 196, 0, 1) 0%, rgba(255, 168, 0, 1) 44%, rgba(255, 168, 0, 1) 59%, rgba(255, 196, 0, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffc400', endColorstr='#ffc400', GradientType=0);
}

.content_area_set {
    padding-bottom: 60px;
}

.line_icon_ {
    padding-top: 19px;
}

.content_100 {
    height: 100%;
}

.social_area {
    margin-top: 20px;
    float: right;
    margin-right: 50px;
}

.line_icon {
    float: left;
}

.line_text {
    float: left;
    color: white;
    font-size: 1.5em;
    margin-top: 25px;
}

.area_login_line {
    float: left;
    margin-bottom: 10px;
}

.area_login_from {
    float: left;
}

.area_login_line img {
    width: 30px;
}

.area_login_text {
    color: white;
    margin-left: 15px;
    font-family: sans-serif;
    font-weight: 400;
}

.btn_login_from {
    margin-left: 5px;
    width: 115px;
    height: 37px;
    text-align: center;
    /* border-radius: 6px; */
    border: 1px solid #855A0C;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
    background: rgba(171, 107, 9, 1);
    background: -moz-linear-gradient(left, rgba(171, 107, 9, 1) 0%, rgba(201, 182, 74, 1) 44%, rgba(201, 182, 74, 1) 61%, rgba(171, 107, 9, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(171, 107, 9, 1)), color-stop(44%, rgba(201, 182, 74, 1)), color-stop(61%, rgba(201, 182, 74, 1)), color-stop(100%, rgba(171, 107, 9, 1)));
    background: -webkit-linear-gradient(left, rgba(171, 107, 9, 1) 0%, rgba(201, 182, 74, 1) 44%, rgba(201, 182, 74, 1) 61%, rgba(171, 107, 9, 1) 100%);
    background: -o-linear-gradient(left, rgba(171, 107, 9, 1) 0%, rgba(201, 182, 74, 1) 44%, rgba(201, 182, 74, 1) 61%, rgba(171, 107, 9, 1) 100%);
    background: -ms-linear-gradient(left, rgba(171, 107, 9, 1) 0%, rgba(201, 182, 74, 1) 44%, rgba(201, 182, 74, 1) 61%, rgba(171, 107, 9, 1) 100%);
    background: linear-gradient(to right, rgba(171, 107, 9, 1) 0%, rgba(201, 182, 74, 1) 44%, rgba(201, 182, 74, 1) 61%, rgba(171, 107, 9, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ab6b09', endColorstr='#ab6b09', GradientType=1);
}

.btn_login_from:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
    background: -moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background: -webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background: -o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background: -ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64', GradientType=0);
    background-color: #ffab23;
}

.btn_login_from:active {
    position: relative;
    top: 1px;
}

.bg_content {
    margin-top: 15px;
    margin-bottom: 60px;
    border-radius: 38px;
    background-color: #171719;
    border: #EDBA11 2px solid;
    /* height: 100%; */
}

.footerArea3 {
    float: left;
    background: #171719;
    text-align: center;
    color: white;
    width: 100%;
    text-align: center;
}

div#centerDiv3 {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    font-size: 12px;
}

.footerArea3 .container {
    background: #171719;
}

.header-area {
    /* margin-left: 10px;
    margin-right: 10px; */
    /* background-image: url(/assets/images/content/header.jpg); */
    background-size: cover;
    background-position: left center;
    height: 120px;
    overflow: hidden;
}

.line_header {
    display: none;
}

.logo_area {
    float: left;
    /* padding-top: 20px;
    padding-left: 15px; */
}

.logo_area img {
    padding-top: 20px;
    padding-left: 20px;
    width: 260px;
    height: auto;
}

.pc_style {
    padding-top: 15px;
}

.contect_text {
    font-weight: 100;
    color: white;
}

.tel_text {
    font-weight: 100;
    color: white;
}

.text_green {
    color: #18FF00;
}

.welcome_text {
    font-weight: 100;
    color: white;
}

.area_text {
    padding-top: 0px;
    float: left;
    margin-right: 15px;
    text-align: left;
    padding-left: 35px;
    font-size: 14px;
}

.qr_area {
    float: right;
}

.qr_area img {
    width: 100px;
}

.header-area .container {
    background: unset;
    text-align: right;
    padding-bottom: 0px;
}

.text_hearder {
    margin-top: 5px;
}

.img_tel {
    margin-left: 15px;
}

.img_line {
    margin-left: 20px;
}

.area_login {
    display: none;
    float: left;
}

#form3 {
    height: 80px;
}

.area_login2 {
    float: left;
    position: relative;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    height: auto;
    background: #10100E;
}

.form-inline .form-control {
    display: inline-block;
    margin-right: 10px;
    width: 100px;
    height: 30px;
    vertical-align: middle;
}

#inner {
    display: table;
    /* margin: 0 auto; */
}

#inner img {
    width: 300px;
}

#outer {
    width: 100%
}

.btn-group-sm>.btn,
.btn-sm {
    margin-right: 10px;
}

.m_footer {
    background-color: black;
    background-size: 100% 70px;
    width: 100%;
    height: 60px;
    text-align: center;
    position: fixed;
    z-index: 99;
    bottom: 0;
    padding-top: 5px;
}

.sport_img2 img {
    width: 100%;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.casino_img2 img {
    width: 100%;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.no-padding {
    /* padding:unset; */
    flex-grow: unset;
    flex-basis: unset;
}

@media screen and (min-width: 375px) {
    .sport_img2 img {
        width: 100%;
        margin-bottom: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .casino_img2 img {
        width: 100%;
        margin-bottom: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 435px) {
    #form3 {
        height: 35px;
    }
}

@media screen and (min-width: 500px) {
    .area_login2 {
        height: unset;
    }
    .m_footer {
        display: none;
    }
}

@media screen and (min-width: 640px) {
    .sport_img2 img {
        width: 100%;
        margin-left: auto;
        margin-right: unset;
    }
    .casino_img2 img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .content_area_set {
        padding-bottom: 0px;
    }
    .no-padding {
        /* padding:unset; */
    }
    .padding_right0 {
        padding-right: 0px;
    }
    .padding_right10 {
        padding-right: 10px;
    }
    .padding_lfet0 {
        padding-left: 0px;
    }
    .sport_img2 {
        border-top: 3px solid #BD9A23;
    }
    .casino_img2 {
        border-top: 3px solid #BD9A23;
    }
    .sport_button .no-padding {
        margin-right: 5px;
    }
    .no-padding {
        flex-basis: 0;
        flex-grow: 1;
    }
}

@media screen and (min-width: 1000px) {
    .login_btn_inH {
        display: block;
    }
    .member_area {
        display: none;
    }
    .header-area .container {
        padding-bottom: 10px;
    }
    #inner img {
        width: 100%;
    }
    .m_footer {
        display: none;
    }
    .area_login2 {
        display: none;
    }
    .area_login {
        float: left;
        position: relative;
        width: 530px;
        margin-top: -18px;
        margin-left: -36px;
        display: block;
    }
}

@media screen and (min-width: 1100px) {
    .area_login {
        float: left;
        position: absolute;
        width: 530px;
        margin-top: 140px;
        margin-left: 254px;
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    .sport_img2 img {
        width: 100%;
    }
    .casino_img2 img {
        width: 100%;
    }
    .register_btn {
        position: absolute;
        right: 110px;
        bottom: 25px;
        line-height: 1.3;
    }
    .line_header {
        display: block;
        float: right;
        margin-top: 40px;
        margin-right: 30px;
    }
    .text_line_header {
        font-size: 2.5em;
        color: #16E800;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
    }
}